<div class="app-main__inner" ng-controller="epestCtrl" ng-init="getDashboardDetails(); getCropCategories(); getGD();">
    <script src="../../public/javascripts/apexcharts.min.js"></script>
    <div class="app-page-title app-page-title-simple">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    <div class="page-title-head center-elem">
                        <span class="d-inline-block pr-2">
                            <i class="lnr-apartment opacity-6"></i>
                        </span>
                        <span class="d-inline-block">e-Pest Surveillance & Pest Management</span>
                    </div>
                    <div class="page-title-subheading opacity-10">
                        <nav class="" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a>
                                        <i aria-hidden="true" class="fa fa-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a>Dashboard</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-2">
            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card" style="background-image: linear-gradient(to bottom right, #aaf0d1, #50bfe6); min-height: 118px; max-height: 118px;">
                <div class="widget-chat-wrapper-outer">
                    <div class="widget-chart-content">
                        <div class="widget-title opacity-5 text-uppercase"><b>Total AAO Registered</b></div>
                        <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                            <div class="widget-chart-flex align-items-center">
                                <div>
                                    {{getJDAPPDetails[0][0].AAORegistered == null ? 0 : getJDAPPDetails[0][0].AAORegistered}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-2">
            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-danger border-danger card" style="background-image: linear-gradient(to bottom right, #ffcc33, #ff355e); min-height: 118px; max-height: 118px;">
                <div class="widget-chat-wrapper-outer">
                    <div class="widget-chart-content">
                        <div class="widget-title opacity-5 text-uppercase"><b>Total VAW registered</b></div>
                        <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                            <div class="widget-chart-flex align-items-center">
                                <div>
                                    {{getJDAPPDetails[1][0].VAWRegistered == null ? 0 : getJDAPPDetails[1][0].VAWRegistered}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-2">
            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-warning border-success card" style="background-image: linear-gradient(to bottom right, #ccff00, #66ff66); min-height: 118px; max-height: 118px;">
                <div class="widget-chat-wrapper-outer">
                    <div class="widget-chart-content">
                        <div class="widget-title opacity-5 text-uppercase"><b style="font-size: 14px;">Total Area Affected (AAO)</b></div>
                        <div class="widget-numbers mt-2 fsize-4 mb-0 w-100" style="padding-top: 10px">
                            <div class="widget-chart-flex align-items-center">
                                <div style="font-size: 22px">
                                    {{getJDAPPDetails[2][0].TotalAffectedArea == null ? 0 : getJDAPPDetails[2][0].TotalAffectedArea}} ha
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-2">
            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-success border-primary card" style="background-image: linear-gradient(to bottom right, #aaf0d1, #50bfe6); min-height: 118px; max-height: 118px;">
                <div class="widget-chat-wrapper-outer">
                    <div class="widget-chart-content">
                        <div class="widget-title opacity-5 text-uppercase"><b>Total Area Treated (AAO)</b></div>
                        <div class="widget-numbers mt-2 fsize-4 mb-0 w-100" style="padding-top: 10px">
                            <div class="widget-chart-flex align-items-center">
                                <div style="font-size: 22px">
                                    {{getJDAPPDetails[2][0].TotalTreatedArea == null ? 0 : getJDAPPDetails[2][0].TotalTreatedArea}} ha
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-2">
            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-danger card" style="background-image: linear-gradient(to bottom right, #ffcc33, #ff355e); min-height: 118px; max-height: 118px;">
                <div class="widget-chat-wrapper-outer">
                    <div class="widget-chart-content">
                        <div class="widget-title opacity-5 text-uppercase"><b style="font-size: 13px;">Area inspected by VAW</b></div>
                        <div class="widget-numbers mt-2 fsize-4 mb-0 w-100" style="padding-top: 10px">
                            <div class="widget-chart-flex align-items-center">
                                <div style="font-size: 22px">
                                    {{getJDAPPDetails[3][0].TotalAreaAffected == null ? 0 : getJDAPPDetails[3][0].TotalAreaAffected}} ha
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-2">
            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-danger border-success card" style="background-image: linear-gradient(to bottom right, #ccff00, #66ff66); min-height: 118px; max-height: 118px;">
                <div class="widget-chat-wrapper-outer">
                    <div class="widget-chart-content">
                        <div class="widget-title opacity-5 text-uppercase"><b>Light Trap Catch</b></div>
                        <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                            <div class="widget-chart-flex align-items-center">
                                <div>
                                    {{getJDAPPDetails[4][0].TotalLightTrap == null ? 0 : getJDAPPDetails[4][0].TotalLightTrap}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" role="tabpanel">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-hover-shadow card-border mb-3 card" >
                        <div class="card-header" style="background-color: #d0eeff;">Select Season and Financial Year</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="card-title">Season</h5>
                                    <div class="position-relative form-group">
                                        <div>
                                            <div class="custom-checkbox custom-control custom-control-inline">
                                                <input type="checkbox" id="kcb" ng-checked="cbSeason == 'Kharif'" ng-true-value="'Kharif'" ng-model="cbSeason" ng-change="getMonth(); destroyGraph();" class="custom-control-input">
                                                <label class="custom-control-label" for="kcb">Kharif</label>
                                            </div>
                                            <div class="custom-checkbox custom-control custom-control-inline">
                                                <input type="checkbox" id="rcb" ng-checked="cbSeason == 'Rabi'" ng-true-value="'Rabi'" ng-model="cbSeason" ng-change="getMonth(); destroyGraph();" class="custom-control-input">
                                                <label class="custom-control-label" for="rcb">Rabi</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="card-title">Financial Year</h5>
                                    <div class="position-relative form-group">
                                        <select type="select" id="fyid" ng-model="ddlFY" ng-change="destroyGraph()" name="customSelect" class="custom-select">
                                            <option value="">Select Financial Year</option>
                                            <option value="2019-20">2019-20</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-block text-right card-footer">
                            <button class="btn-shadow-primary btn btn-primary btn-lg" ng-disabled="ddlFY == null || ddlFY == undefined" ng-click="generateGraphs();">Generate Graph</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" role="tabpanel">
            <div class="row">
                <div class="col-md-6">
                    <div class="card-hover-shadow card-border mb-3 card">
                        <div class="card-header" style="background-color: #d0eeff;">Total Area Affected (in ha)&nbsp;&nbsp;&nbsp;<small>Crop Category-wise</small></div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <div id="chartTAACC"></div>
                        </div>
                    </div>
                    <div class="card-hover-shadow card-border mb-3 card">
                        <div class="card-header" style="background-color: #d0eeff;">Total Area Affected & Treated (in ha)&nbsp;&nbsp;&nbsp;<small>(Weekly)</small></div>
                        <div class="card-body">
                            <h5 class="card-title">Date : ({{getJDAPPDetails[2][0].StartDate}} - {{getJDAPPDetails[2][0].EndDate}}) | Week Number - {{getJDAPPDetails[2][0].WeekNo}}</h5>
                            <div id="chartTAATW"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-hover-shadow card-border mb-3 card" style="min-height: 311px;">
                        <div class="card-header" style="background-color: #d0eeff;">Total Area Affected Crop (in ha)&nbsp;&nbsp;&nbsp;<small>Crop-wise</small></div>
                        <div class="card-body" id="taac">
                            <h5 class="card-title"></h5>
                            <div id="chartTAAC"></div>
                        </div>
                        <div class="card-body" id="noData">
                            <h5 class="card-title" style="color: red; text-align: center;">No Data is found</h5>
                        </div>
                        <div class="card-body" id="noClick">
                            <h5 class="card-title" style="color: red; text-align: center;">Please click on the Crop category to generate the Crop-wise graph of Total Area Affected</h5>
                        </div>
                    </div>
                    <div class="card-hover-shadow card-border mb-3 card" style="min-height: 321px;">
                        <div class="card-header" style="background-color: #d0eeff;">Total Area Affected & Treated (in ha)</div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <div id="chartTAAT"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-hover-shadow card-border mb-3 card">
                        <div class="card-header" style="background-color: #d0eeff;">Number of Advisories for different Cereal Crops (in Kharif)</div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <div id="chartNADC"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" role="tabpanel">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-hover-shadow card-border mb-3 card">
                        <div class="card-header" style="background-color: #d0eeff;">Total Area Affected (in ha)&nbsp;&nbsp;&nbsp;<small>(Crop Category-wise and Crop-wise)</small></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="card-title">Crop Category</h5>
                                    <div class="position-relative form-group">
                                        <select type="select" id="ccid" ng-model="ddlCropCategory" ng-options="i.CategoryCode as i.CategoryName for i in cropCategories" ng-change="getCropsByCategory()" name="customSelect" class="custom-select">
                                            <option value="" disabled>Select Crop Category</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h5 class="card-title">Crop</h5>
                                    <div class="position-relative form-group">
                                        <select type="select" id="cid" ng-model="ddlCrop" ng-options="i.CropCode as i.CropName for i in crops" ng-change="getPestDiseases()" name="customSelect" class="custom-select">
                                            <option value="" disabled>Select Crop</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h5 class="card-title">Month</h5>
                                    <div class="position-relative form-group">
                                        <select type="select" id="mid" ng-model="ddlMonth" ng-options="i.MonthCode as i.MonthName for i in months" ng-change="destroyGraph()" name="customSelect" class="custom-select">
                                            <option value="">Select Month</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="pestDiseases.length > 0">
                                <div class="col-md-12">
                                    <h5 class="card-title">Pests</h5>
                                    <div class="position-relative form-group">
                                        <div>
                                            <div class="custom-checkbox custom-control custom-control-inline" ng-repeat="i in pestDiseases">
                                                <input type="checkbox" id="p{{$index}}cb" ng-model="i.selected" ng-change="getValue();" ng-true-value="true" ng-false-value="false" class="custom-control-input">
                                                <label class="custom-control-label" for="p{{$index}}cb">{{i.PestDiseaseName}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-block text-right card-footer">
                            <button class="btn-shadow-primary btn btn-primary btn-lg" ng-disabled="pests.length == 0 || ddlCropCategory == null || ddlCropCategory == undefined" ng-click="getPestGraphData();">Generate Pest Graph</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content" ng-show="sumTAA != 0">
        <div class="tab-pane tabs-animation fade show active" role="tabpanel">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-hover-shadow card-border mb-3 card">
                        <div class="card-header">Pest Affected Area (in ha)</div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <div id="chartPAA"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>